.navbar {
    width: 100%;
    height: 4rem;
    border-bottom: solid 2px gray;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    list-style-type: none;
    height: 50px;
}

.left {
    flex: 1;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.navListItem {
    font-size: 1.2rem;
    margin: 1rem;
    text-decoration: none;
    color: #3b3b3b;
    cursor: pointer;
}

.navListItem:hover {
    color: gray;
}