/* .outerStyle{
    width: 40%;
    border: solid gray 2px;
    padding: 4rem;
    background-color: bisque;
} */

.formStyle{
    padding-left: 2%;
    display: grid;
    grid-template-rows: 5;
    gap: 1rem;
}

.unit{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px 10px; /* Add horizontal padding and vertical padding (optional) */
    line-height: normal; /* Ensure the line height doesn't center the text */
}

.title-input{
    width: 20rem;
}

.description-input{
    width: 20rem;
    height: 6rem;
    padding: 5px;
}

.price-input{
    width: 4rem;
}

.date-input{
    width: 10rem;
}

.button{
    width: 5rem;
    height: 3rem;
    border-radius: 4px;
}