
.formStyle{
    padding-left: 2%;
    display: grid;
    grid-template-rows: 5;
    gap: 0.5rem;
}

.unit{
    display: flex;
    flex-direction: column;
}

.title-input{
    width: 20rem;
}

.description-input{
    width: 20rem;
    height: 5rem;
    padding: 5px;
}

.price-input{
    width: 4rem;
}

.date-input{
    width: 10rem;
}

.button{
    width: 5rem;
    height: 3rem;
    border-radius: 4px;
}