.dashboard {
    margin: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.button-style {
    margin: 40px;
    padding: 10px;
    background: #5c8eb8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .dashboard{
        display: block;
    }
}