.bid-card{
    width: 12rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bid-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.bid-button{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 1.5rem;
}